---
import { Image } from "astro:assets";
import artistImg from "../../assets/hero.png";
const personalImageAlt = "Johan Smith Poveda";
---

<section
  id="about"
  class="relative flex flex-col items-center justify-center min-h-screen px-8 py-16 md:px-16 md:py-24 lg:px-32 lg:py-32 text-white"
>
  <div class="max-w-5xl w-full flex flex-col items-center text-center">
    <h2
      class="text-4xl md:text-5xl lg:text-6xl font-extrabold mb-12 leading-relaxed font-roboto"
    >
      Experto en plasmar tus ideas en forma de arte corporal
    </h2>

    <div class="mb-16">
      <p class="text-xl md:text-2xl opacity-80 font-roboto">instagram</p>
      <a
        href="https://instagram.com/johansmith_tattoo"
        target="_blank"
        rel="noopener noreferrer"
        class="text-3xl md:text-4xl font-semibold hover:text-red-500 transition-colors duration-300 font-cinzel"
      >
        @johansmith_tattoo
      </a>
    </div>

    <div class="relative w-full max-w-sm lg:max-w-md mt-16 mb-9">
      <Image
        class="w-full h-auto object-cover"
        src={artistImg}
        alt={personalImageAlt}
      />
      <span
        class="text-white text-center text-xl md:text-2xl lg:text-3xl font-bold tracking-wide"
      >
        <div
          class="absolute bottom-2 left-1/2 -translate-x-1/2
           text-6xl md:text-7xl lg:text-8xl font-cinzel text-white opacity-70
           pointer-events-none filter blur-sm"
        >
          Johan Smith
        </div>
      </span>
    </div>

    <div class="text-center mt-4">
      <p class="text-lg md:text-xl opacity-70 font-roboto leading-relaxed">
        Jurado en concursos de tatuaje • Proyectos originales • Blackwork • Caligrafia • Ilustracion • Free hand
      </p>
    </div>
  </div>
</section>
