---
import { Image } from "astro:assets";
import artistImg from "../../assets/hero.png";
const personalImageAlt = "Johan Smith Poveda";
---

<section
  id="about"
  class="relative flex flex-col items-center justify-center min-h-screen px-8 py-16 md:px-16 md:py-24 lg:px-32 lg:py-32 text-white"
>
  <div class="max-w-5xl w-full flex flex-col items-center text-center">
    <h2
      class="text-4xl md:text-5xl lg:text-6xl font-extrabold mb-12 leading-relaxed font-roboto"
    >
      Experto en plasmar tus ideas en forma de arte corporal
    </h2>

    <div class="mb-16">
      <p class="text-xl md:text-2xl opacity-80 font-roboto">instagram</p>
      <a
        href="https://instagram.com/johansmith_tattoo"
        target="_blank"
        rel="noopener noreferrer"
        class="text-3xl md:text-4xl font-semibold hover:text-[var(--color-accent)] transition-colors duration-300 font-cinzel"
      >
        @johansmith_tattoo
      </a>
    </div>

    <div class="relative w-full max-w-sm lg:max-w-md mt-16 mb-9">
      <Image
        class="w-full h-auto object-cover"
        src={artistImg}
        alt={personalImageAlt}
      />
      <span
        class="text-white text-center text-xl md:text-2xl lg:text-3xl font-bold tracking-wide"
      >
        <div
          class="absolute bottom-2 left-1/2 -translate-x-1/2
           text-6xl md:text-7xl lg:text-8xl font-cinzel text-white opacity-70
           pointer-events-none filter blur-sm"
        >
          J•S
        </div>
      </span>
    </div>

    <div class="text-center mt-4">
      <p class="text-lg md:text-xl opacity-70 font-roboto leading-relaxed">
        Llevo más de <b>12 años</b> dedicado a lo que amo: <b>el arte del tatuaje</b>. A lo
        largo de este tiempo, he tenido el honor de perfeccionar mi oficio y he
        llegado a participar como <b>jurado en algunos concursos de tatuaje</b>. Es una
        experiencia que valoro mucho, ya que me permite aprender y crecer junto
        a otros talentos de la industria.
      </p>
      <br />
      <p class="text-lg md:text-xl opacity-70 font-roboto leading-relaxed">
        Mi especialidad es el <b>Blackwork</b>, un estilo que me apasiona por su
        profundidad y sus posibilidades. Me esfuerzo por crear proyectos
        <b>originales</b> para cada persona, transformando ideas en piezas únicas que
        se llevan en la piel. Mi trabajo abarca desde la precisión de la
        <b>caligrafía</b> hasta la riqueza expresiva de la <b>ilustración</b>, y siempre busco
        la fluidez del <b>freehand</b> para que cada diseño se adapte perfectamente
        al cuerpo. Cada tatuaje es, para mí, una oportunidad de crear algo personal
        e <b>irrepetible</b>.
      </p>
    </div>
  </div>
</section>
