---
import MainLayout from "../layouts/MainLayout.astro";
import GlobalHeader from "../components/astro/GlobalHeader.astro";
import AboutSection from "../components/astro/AboutSection.astro";
import GallerySection from "../components/astro/GallerySection.astro";
// Aún no importamos GallerySection, lo haremos en el siguiente paso.
---

<MainLayout title="Johan Smith Poveda | Tatuador Profesional">
  <GlobalHeader />
  <div class="pt-24 flex-grow">
    <AboutSection />
    <GallerySection />
  </div>
</MainLayout>
