---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Sitio web de Johan Smith Poveda, artista del tatuaje"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Roboto+Slab:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="font-roboto text-white min-h-screen flex flex-col scroll-smooth">
    <div class="pt-8 sm:pt-20 flex-grow">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  :root {
    --color-accent: #b44b00;
  }
  html {
    scroll-behavior: smooth;
    a {
      text-decoration: none;
    }
    body {
      background: url("../assets/mainBackground.png") no-repeat center center
        fixed;
      background-size: cover;
    }
  }
</style>